div,
section,
h1,
h2,
h3,
h4,
a,
html,
body {
  display: block;
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
  text-decoration: none;
  outline: 0rem;
}

html {
  font-size: clamp(14px, 3.2vw, 124px);
}

body {
  background: #413f3f;
  text-align: center;
}
/* 
a:focus{
    outline:0px;
} */

#calendar-container {
  display: inline-block;
  text-align: left;
}

.calendarContainer {
  margin: 1rem 0rem 3rem 0rem;
}

.c_monthTitle,
.c_yearTitle {
  text-decoration: none;
}
.c_monthTitle:hover,
.c_yearTitle:hover {
  color: #616161;
}

.c_yearTitle {
  color: #afafaf;
  text-align: right;
  padding-left: 0.6rem;
  font-family: "Times New Roman", Georgia, Times, serif;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.c_monthTitle {
  color: #afafaf;
  padding-bottom: 0.4rem;
  font-family: Georgia, Times, serif;
  letter-spacing: 0rem;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 2.2rem;
}

.c_month,
.c_month td,
.c_month tr,
.c_month th {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  border-spacing: 0;
}

.c_first_week .c_sunday {
  border-top-right-radius: 1rem;
}

.c_last_week .c_sunday {
  border-bottom-right-radius: 1rem;
}
.c_first_week .c_saturday {
  border-top-left-radius: 1rem;
}

.c_last_week .c_saturday {
  border-bottom-left-radius: 1rem;
}

.c_columnHeading td a {
  text-align: center;
  border: 0rem;
  padding-bottom: 0.1rem;
  font-family: Georgia, Times, serif;
  letter-spacing: 0rem;
  font-weight: normal;
  font-size: 1.2rem;
  color: #939393;
  text-decoration: none;
  display: block;
}

.c_week td {
  text-align: center;
  color: #9d9d9d;
  width: 2.8rem;
  height: 2.8rem;
}

.c_week td a {
  display: block;
  font-family: "Times New Roman", Georgia, Times, serif;
  letter-spacing: 0rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 3.2rem;
  width: 3.2rem;
  height: 3.2rem;
}

.c_columnHeading td a:hover {
  color: #616161;
}
.c_week td a.c_dayEmpty:hover {
  color: #616161;
}

.c_week .c_saturday,
.c_week .c_sunday {
  background: #4d4d4d;
}

.c_week .c_dayEvents {
  display: block;
  color: #fff;
  background: green;
  text-decoration: none;
}
.c_week .c_dayEmpty {
  display: block;
  color: #b8b8b8;
  text-decoration: none;
}
.c_week .c_dayOtherMonth {
  display: block;
  color: #5f5f5f;
  text-decoration: none;
}

.c_week .c_dayToday {
  display: block;
  color: #fff;
  background: #27ac0c;
  text-decoration: none;
  border-radius: 1.6rem;
}
