@font-face {
  font-family: "RedHatDisplay";
  src: url("fonts/RedHatDisplay-Regular.ttf");
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("fonts/RedHatDisplay-Italic.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("fonts/RedHatDisplay-Bold.ttf");
  font-style: italic;
}

#mobile {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}
#item-context-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  display: none;
}

#main-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid;
  width: 100%;
}

.menu-button {
  display: inline-block;
  padding: 5px 12px;
}

.menu-button.active {
  color: #00a4c1;
}

#main-menu .menu-button {
  font-size: 1.7rem;
}

@media (hover: hover) {
  .menu-button:hover {
    color: white;
    background: black;
    cursor: pointer;
  }
  #dialog-close-button:hover {
    color: #00a4c1;
  }
}

@media (hover: none) {
  .menu-button:active {
    color: black;
    background: transparent;
    cursor: pointer;
  }
}

#main-menu .symbol {
  text-transform: none;
}

#page {
  font-size: 1.38rem;
  font-family: RedHatDisplay;
}

@media only screen and (max-width: 600px) {
  #mobile {
    display: inline-block;
  }
  #page {
    font-size: 1.2rem;
  }
  #page p {
    line-height: 1.6rem;
  }
}

#dialog {
  position: fixed;
  display: none;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: white;
}

#dialog.active {
  display: block;
}

#dialog-close-button {
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 8px;
}

#dialog-close-button .symbol {
  padding: 0px;
  font-size: 45px;
  line-height: 36px;
}

#container {
  padding: 60px 5px 120px 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

#page p {
  margin: 0;
  padding: 0;
  line-height: 2.2rem;
  margin-bottom: 0.4rem;
}

#page p:first-of-type {
  text-indent: 0rem;
}

#page.book p {
  text-indent: 1rem;
  margin-bottom: 0rem;
}

#page.book p:first-of-type {
  text-indent: 0rem;
}

/* to remove content editable border at activation */
[contenteditable] {
  outline: 0px solid transparent;
}
