@font-face {
  font-family: "RedHatDisplay";
  src: url("fonts/RedHatDisplay-Regular.ttf");
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("fonts/RedHatDisplay-Italic.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("fonts/RedHatDisplay-Bold.ttf");
  font-style: italic;
}

body {
  padding: 0;
  margin: 0;
}
#item-context-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  display: none;
}

#main-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid;
  width: 100%;
}

.menu-button {
  display: inline-block;
  padding: 5px 12px;
}

.menu-button.active {
  color: #00a4c1;
}
.menu-button:hover {
  color: white;
  background: black;
  cursor: pointer;
}

#main-menu.pure-menu .symbol,
#item-context-menu.pure-menu .symbol {
  font-size: 1.7em;
}

.pure-menu .symbol {
  text-transform: none;
}

.pure-menu-link {
  background: none;
  border: none;
}

.pure-menu-link:focus {
  background: none;
}

#page {
  font-size: 1.3em;
  font-family: RedHatDisplay;
}

#container {
  padding: 60px 5px 120px 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
}

#page p {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  margin-bottom: 0.4em;
}

#page p:first-of-type {
  text-indent: 0em;
}

#page.book p {
  text-indent: 1em;
  margin-bottom: 0em;
}

#page.book p:first-of-type {
  text-indent: 0em;
}

/* to remove content editable border at activation */
[contenteditable] {
  outline: 0px solid transparent;
}
