@font-face {
  font-family: "RedHatDisplay";
  src: url("fonts/RedHatDisplay-Regular.ttf");
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("fonts/RedHatDisplay-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("fonts/RedHatDisplay-Bold.ttf");
  font-weight: bold;
}

#unsaved-button {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}
#item-context-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  display: none;
}

blockquote {
  margin: 0;
  padding: 0;
  font-style: italic;
  color: #414141;
  border-left: 4px solid #ccc;
  padding-left: 1rem;
}

#main-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid;
  width: 100%;
}

.menu-button {
  display: inline-block;
  padding: 5px 6px 2px 6px;
}
.menu-separator {
  display: inline-block;
  padding: 13px 1px;
  border-left: 2px solid;
}

.menu-button.active {
  color: #00a4c1;
}

#main-menu .menu-button {
  font-size: 1.7rem;
}

#dialog-menu .menu-button {
  font-size: 1.7rem;
}

#main-menu .symbol {
  text-transform: none;
}

#page {
  font-size: 1.38rem;
  font-family: RedHatDisplay;
}

#dialog {
  position: absolute;
  display: none;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 100%;
  background: white;
}

#dialog.active {
  display: block;
}

#dialog textarea {
  width: 97%;
  height: 50rem;
}

.dialog-button {
  display: inline-block;
  padding: 8px;
}

.dialog-button .symbol {
  padding: 0px;
  font-size: 45px;
  line-height: 36px;
}

#container {
  padding: 60px 20px 120px 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

#page p {
  margin: 0;
  padding: 0;
  line-height: 2.02rem;
  margin-bottom: 0.2rem;
}

#page p:first-of-type {
  text-indent: 0rem;
}

#page.book p {
  text-indent: 1.3rem;
  margin-bottom: 0rem;
}
#page code {
  background: #e1dac4;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 1.2rem;
  border-radius: 0.6rem;
}

#page.book p:first-of-type {
  text-indent: 0rem;
}

/* to remove content editable border at activation */
[contenteditable] {
  outline: 0px solid transparent;
}

@media only screen and (max-width: 600px) {
  #page {
    font-size: 1.2rem;
  }
  #page p {
    line-height: 1.6rem;
  }
}

@media (pointer: fine) {
  .menu-button:hover {
    color: white;
    background: black;
    cursor: pointer;
  }
  .dialog-button:hover {
    color: #00a4c1;
  }
}

@media (pointer: coarse) {
  .menu-button:active {
    color: black;
    background: transparent;
    cursor: pointer;
  }
}
